<section *ngIf='(academicYear$ | ngrxPush) as academicYear; else content_loading'>
  <h1>Academic Year
    <fa-icon [icon]="faChevronRight"></fa-icon>
    <small>{{academicYear.name}}</small></h1>
  <div class="card p-2">
    <section>
      <div class="p-2">
        Period: <strong>{{ academicYear.start_date | date: 'MMM dd, yyyy' }}</strong>
        <fa-icon [icon]="faChevronRight"></fa-icon>
        <strong>{{ academicYear.end_date | date: 'MMM dd, yyyy'}}</strong>
      </div>
    </section>
    <section style="min-height: 440px">
      <router-outlet></router-outlet>
    </section>
  </div>
</section>

<ng-template #content_loading>
  <h1>Academic Year</h1>
  <app-loading-bubble></app-loading-bubble>
</ng-template>
