<section class="bg-dark p-3">
  <h1>Create Bid Form</h1>
  <form (submit)='submitNewBidForm()' [formGroup]='newBidForm' class="d-flex flex-wrap">
    <section class="col-lg-12 mb-2">
      <app-select type='vendor' [triggerValidation]='triggerValidationAction$ | ngrxPush' id='vendorName' formControlName='vendorName'
        placeholder='Enter Vendor Name' label='Vendor Name' ></app-select>
    </section>
    <section class="col-lg-12">
      <app-input labelClass='col-lg-12' inputClass='col-lg-12' [triggerValidation]='triggerValidationAction$ | ngrxPush' id='unitDescription' formControlName='unitDescription'
        placeholder='Enter Unit description' label='Enter Unit description'>
      </app-input>
    </section>
    <section class="col-lg-12">
      <app-input labelClass='col-lg-12' inputClass='col-lg-12' [triggerValidation]='triggerValidationAction$ | ngrxPush' id='pricePerUnit' formControlName='pricePerUnit'
        placeholder='Enter Price Per Unit(KES)' label='Price Per Unit'>
      </app-input>
    </section>
    <section class="col-lg-12">
      <app-input labelClass='col-lg-12' inputClass='col-lg-12' [triggerValidation]='triggerValidationAction$ | ngrxPush' id='description' formControlName='description'
        placeholder='Enter Description' label='Description'>
      </app-input>
    </section>
    <section  class="col-lg-12" *ngIf='(errorBody$ | ngrxPush) as errorBody'>
      <section *ngIf='errorBody.show' class="alert alert-danger alert-dismissible fade show">
        <p> <fa-icon [icon]="faExclamationCircle"></fa-icon> <strong>{{ errorBody.status + ': ' }}{{ errorBody.title }}</strong></p>
        <p>{{ errorBody.body }}</p>
        <button (click)='closeMessage()' type="button" class="close" data-dismiss="alert" aria-label="Close">
          <fa-icon [icon]="faTimes" class='close'></fa-icon>
        </button>
      </section>
    </section>
    <section class="col-lg-12">
      <app-validate-submit-buttons [isSubmitting]='submitInProgressSubject$ | ngrxPush'
                                   (validationButtonClicked)='triggerValidationSubject$.next(true)' [formItem]='itemForm'>
        <span>Save Bid Info</span>
      </app-validate-submit-buttons>
    </section>

  </form>
</section>
