<div class="d-flex justify-content-between align-items-center">
  <a class="card-link  btn-block p-2 bg-dark"
     [routerLink]='["/academics","e-learning","courses", course.id]'>

    <fa-icon [icon]="faFolderOpen"></fa-icon>
    <strong>{{ course.name }}</strong><br />
    <div class="d-flex justify-content-between">
      <small> Class Level : {{ course.classLevelAbbreviation }}</small>
      <small> Subject/Unit : {{ course.unitAbbreviation }}</small>
      <small> Year : {{ course.academicYearName }}</small>
    </div>
    <!-- <br>
              <small class="ml-2"> Created by : Owen Kelvin </small>
              <br>
              <small class="ml-2"> Taught by : Owen Kelvin, Peter Junior </small> -->
    <!-- TODO-me make above functionality -->

  </a>
  <a *ngIf="edit" [routerLink]='["courses", course.id, "edit-contents"]' aria-label="Edit" class="btn btn-primary btn-sm">
    <fa-icon [icon]="faEdit"></fa-icon>
  </a>
</div>
