<form (submit)='submitPasswordChangeForm()' [formGroup]='passwordChangeForm' class='form-horizontal'>
  <ng-container *ngIf='showOldPasswordField$ | ngrxPush'>
    <app-input type='password' labelClass='col-lg-12 col-md-12' inputClass='col-lg-12' label='Old Password'
               placeholder='Enter Old Password' id='oldPassword' formControlName='oldPassword'
               [autofocus]='true'>
      <fa-icon data-prependIcon [icon]="faKey"></fa-icon>
    </app-input>
  </ng-container>
  <app-input type='password' labelClass='col-lg-12 col-md-12' inputClass='col-lg-12' label='New Password'
             placeholder='Enter New Password' id='newPassword' formControlName='newPassword'
             [showPasswordStrength]='true'>
    <fa-icon data-prependIcon [icon]="faKey"></fa-icon>
  </app-input>

  <app-input type='password' labelClass='col-lg-12 col-md-12' inputClass='col-lg-12' label='New Password Confirmation'
             placeholder='Enter New Password Confirmation' id='newPasswordConfirmation'
             formControlName='newPasswordConfirmation'>
    <fa-icon data-prependIcon [icon]="faKey"></fa-icon>
  </app-input>

  <section style="position: relative">
    <small style='position: absolute; margin-top: -25px;' *ngIf='showPasswordMismatch' class="text-danger">Password do
      not match!</small>
  </section>

  <section class='d-flex justify-content-between'>
    <a type="button" [routerLink]='["/dashboard"]' queryParamsHandling='preserve' class='btn btn-secondary'>Cancel</a>

    <button class='btn btn-success'
            [disabled]='!passwordChangeForm.dirty || !passwordChangeForm.valid || (submitInProgressAction$ | ngrxPush)'>
      Submit
      <fa-icon *ngIf='(submitInProgressAction$ | ngrxPush)' [icon]="faSpinner" [spin]="true"></fa-icon>
      <fa-icon *ngIf='(submitInProgressAction$ | ngrxPush) === false && passwordChangeForm.valid && passwordChangeForm.dirty'
         [icon]="faSave"></fa-icon>
    </button>
  </section>
</form>
