<div class="modal-header bg-dark">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" [attr.aria-label]="'Archive Academic Year'" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>

  </button>
</div>
<div class="modal-body bg-dark">
<!--  <p class="text-danger">You are about to archive academic year <span class="text-primary">"{{ id }}"</span></p>-->
  <p class="text-danger">You are about to {{ title | lowercase }}</p>

  <p>Please Enter #{{ id }} to confirm action</p>
  <input placeholder="eg #xyz" aria-label="Course Name" type="text" class="form-control" [(ngModel)]='confirmation'>
</div>
<div class="modal-footer bg-dark">
  <button (click)='closeModal()' class="btn btn-secondary" type="button">Cancel</button>
  <button (click)='saveArchive()' [disabled]='(confirmation !==  "#" + id) || (submitInProgressAction$ | ngrxPush)'
          class="btn btn-danger">
    <span *ngIf='(submitInProgressAction$ | ngrxPush) === false'>{{ title }}</span>
    <span *ngIf='submitInProgressAction$ | ngrxPush'>Saving...</span>
    <i *ngIf='(submitInProgressAction$ | ngrxPush) === false' class='icon-trash'></i>
    <i *ngIf='submitInProgressAction$ | ngrxPush' class='icon-spin3 animate-spin'></i>
  </button>
</div>
