<h2>User Password Reset</h2>
<form class="card p-2" (submit)='submitPasswordReset()' [formGroup]='passwordResetForm'>
  <section>
    <div class="form-group">
      <app-input [triggerValidation]='triggerValidationAction$ | ngrxPush' label='Reset Password'
                 placeholder='Enter Password' id='password'
                 formControlName='resetPassword' type='password'>
        <fa-icon data-prependIcon [icon]="faKey"></fa-icon>

      </app-input>
    </div>
  </section>
  <section class="card-footer d-flex justify-content-between">
    <button [disabled]='passwordResetForm.invalid || (submitInProgressAction$ | ngrxPush)' class="btn btn-success">
      Reset
      <fa-icon *ngIf='passwordResetForm.valid && (submitInProgressAction$ | ngrxPush) === false' [icon]="faSave"></fa-icon>
      <fa-icon *ngIf='(submitInProgressAction$ | ngrxPush)' [icon]="faSpinner" [spin]="true"></fa-icon>
    </button>

  </section>
</form>
