.check-container {
  width: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-container input ~ .checked {
  display: none;
}

.check-container input:checked ~ .checked {
  display: inline-block;
  color: lightblue;
}
.check-container input:checked ~ .not-checked {
  display: inline-block;
}

.check-container input:checked ~ .not-checked {
  display: none;
}
.check-container input:focus ~ .checkmark {
  outline: greenyellow 1px dotted;
}
label {
  margin-bottom: 0 !important;
}
.checkmark {
  font-size: 1.2em;
}

