<section class='d-flex flex-wrap name-field mt-4' *ngIf='(profile$ | ngrxPush) as profile; else content_loading'>
  <section class='col-md-6 col-lg-4 col-sm-12 mb-3'>
    <app-name-item type='email' label='Email' [name]='profile.email'></app-name-item>
  </section>
  <section class='col-md-6 col-lg-4 col-sm-12 mb-3'>
    <app-name-item type='tel' label='Phone' [name]='profile.phone'></app-name-item>
  </section>
  <section class='col-md-6 col-lg-4 col-sm-12 mb-3'>
    <app-name-item type='tel' label='Gender' [name]='profile.genderName'></app-name-item>
  </section>
  <section class='col-md-6 col-lg-4 col-sm-12 mb-3'>
    <app-name-item type='tel' label='Date of Birth' [name]='profile.dateOfBirth'></app-name-item>
  </section>
  <section class='col-md-6 col-lg-4 col-sm-12 mb-3'>
    <app-name-item type='tel' label='Date of Birth' [name]='profile.religionName'></app-name-item>
  </section>
</section>
<ng-template #content_loading>
  <app-loading-bubble></app-loading-bubble>
</ng-template>
